.chat-main
  .chat-main__header
    .chat-main__header__main
      .left
        %h2 #{@group.name}
        %ul.member-list 
          Member :
          - @group.group_users.each do |group_user| 
            = group_user.user.name       
      .main__header__edit-btn
        = link_to 'Edit', edit_group_path(@group)

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__mask
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'